.hero {
    background: url('imagenes/banner\ 2_Mesa\ de\ trabajo\ 1.png') no-repeat center center;
    background-size: cover;
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff7ae;
    position: relative;
    text-align: right;
    padding: 20px;
    
}

.overlay-image {
    position: absolute;
    top: 5; /* Alinea la imagen con la parte superior del contenedor */
    left: 55px; /* Alinea la imagen con la parte izquierda del contenedor */
    width: 175px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    z-index: 2; /* Asegura que esté sobre el fondo */
    background: none; /* Elimina cualquier fondo en la imagen */
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
        padding: 10px;
    }

    .overlay-image {
        width: 0px; /* Ajusta el tamaño en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .hero {
        min-height: 50vh;
    }

    .overlay-image {
        width: 0px; /* Ajusta el tamaño para pantallas muy pequeñas */
    }
}
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.hero .container {
    position: relative;
    z-index: 2;
}
.hero h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    animation: textGlow 2s infinite alternate;
}

.hero p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
@keyframes textGlow {
    from {
        text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.8);
    }
    to {
        text-shadow: 2px 2px 8px rgba(255, 215, 0, 1);
    }

}

.hero p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.section-title {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.card-img-top {
    height: 180px;
    object-fit: cover;
}
.card-body {
    padding: 20px;
}
.card-body h5 {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.card-body p {
    font-size: 1rem;
}
.card-body ul {
    list-style-type: none;
    padding-left: 0;
}
.card-body ul li {
    padding: 8px 0;
}
.card-body ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
    color: #007bff;
}
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}